$houseColor: rgb(39, 152, 160);

body{
    font-weight: 300;
}


button{
background-color: rgb(18, 96, 184);
color: white;
height: 34px;
width: 155px;
align-self: center;
padding: 3px 25px;
font-size: smaller;
font-style: bold;
border: none;
outline: none;

&:hover{
    background-color: rgb(44, 112, 189);
}

}

img{
    width: 100%;
}

.main{
    padding: 5%;
}

.save-button{
    width: 100%;
    height: 40px;
    margin-top: 35px;
    cursor: pointer;
}

.hotel-meta{
    width: 100px;
}

.hotel-card{
    border: 1px solid lightgrey;
    padding: 35px;
    height: 250px;
    max-width: 700px;
    cursor: pointer;
    transition: 300ms;
    
    &:hover{
        box-shadow: 3px 3px 2px lightgray;
        background-color: #ddd;
        transition: 300ms;
    }
}

.selected{
    box-shadow: 3px 3px 2px lightgray;
    background-color: #eee;
    transition: 300ms;
}

.hotel-image{
    position: absolute;
   width: 120%;
    left: -40px;
   height: 160px;
}

.hotel-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.inputs-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/los-cocos-room-header-2-x.png');
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-bar{
    background-color: rgba(18, 96, 186,.3);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.footer{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    height: 75px;
    font-size: smaller;

   img{
       height: 55px;
       margin-top: -9px;
   }

    div{
        display: flex;
    }

    ul{
        display: flex;
        list-style: none;
    }

    a{
        margin: 0 5px;
        color: $houseColor;
        font-weight: 500;
    }

    li{
        margin: 0 5px;
        cursor: pointer;
        &:hover{
            color: $houseColor;
        }
    }
}

.form-control{
    width: 155px;
    margin: 5px 5px;
    border-radius: 0;
    font-size: smaller;
}

.summary-card{
border: 1px solid lightgrey;
padding:20px;
}

.top-bar{
    display: flex;
    width: 100%;

    ul{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 25px;
        justify-content: space-evenly;
        list-style: none;
        color: gray;
    }
    li{
        width: 90px;
        cursor: pointer;

        &:hover{
            color: $houseColor;
        }
    }
}

.top-logo{
    display: flex;
    margin-top: 10px;
}

.logo-text{
    color: $houseColor;
    font-weight: 700;
    font-size: 1.2rem;
}

.logo-sub{
    color: grey;
    font-size: x-small;
}


.progress-header{
    width: 80%;
    margin: auto;
    padding: 25px;
}